# Файлы с секретами для локальной разработки
.env
variables.env
application.properties

# Скомпилированные файлы
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Настройки IDE
.idea/
*.iml
*.ipr
*.iws